- @title = 'Resend confirmation instructions'

= form_for(resource, :url => confirmation_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %ol
      %li
        = f.label :email
        = f.text_field :email

  = f.submit "Resend"
