- @title = 'Sign in'

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    %ol
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :password
        = f.password_field :password

      - if devise_mapping.rememberable?
        %li
          = f.check_box :remember_me 
          Remember me

  = f.submit "Sign in"

= render :partial => "devise/shared/links"